.contHome{
    background-color: #19181E;
    background-size: 100% 100%;
    height: 100vh;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.logoHome{
    max-width: 69%;
    margin-top: 34px;
}

.contButtonHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60%;
}
.btnRegister{
    margin-top: 33px;
    width: 162px;
    height: 40px;
    background: #FFFFFF;
    filter: drop-shadow(0px 0px 9px #E8DB65);
    border-radius: 20px;
    border: none; 
    font-family: 'Montserrat';
    font-size: 18px;
}

.btnRegister:hover{
    background: linear-gradient(180deg, #FEE600 99.99%, rgba(254, 230, 0, 0) 100%);
    filter: drop-shadow(0px 0px 9px #E8DB65);
    border-radius: 20px;
}