.contmenugeneral{
    background-color: #19181E;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titlemenu{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: #FEE600;
    padding: 15px;
}
.contmenu{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.circlemenu{
    background-color:#FFF280;
    border-radius: 50%;
    margin: 10px;
    width: 136px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logomenu{
    max-width: 82px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.logomenu:hover{
    transform: scale(1.1);
}

.nameMenu{
    color: white;
    text-align: center;
    font-family: 'Open Sans';
}

@media(min-width:601px)  {
    .contmenu{
        width: 64%;
    }
}
@media(min-width:1920px) and (max-width:2560px) {
    .contmenu{
        width: 39%;
        height: 82vh;
    }
  }